.markdown-body-modal {
    font-size: 100px;
    color-scheme: dark;
    }

.markdown-body-modal a {
    background-color: transparent;
    color: var(--color-brand-cyan-main);
    text-decoration: none;
}

.markdown-body-modal a:active,
.markdown-body-modal a:hover {
    color: var(--color-brand-cyan-main);
    outline-width: 0;
}

.markdown-body-modal a:hover {
    text-decoration: underline;
}
