.markdown-body-modal {
        color-scheme: dark;
        --color-accent-fg: #58a6ff;
    }

.markdown-body-modal a {
    background-color: transparent;
    color: var(--color-accent-fg);
    text-decoration: none;
}

.markdown-body-modal a:active,
.markdown-body-modal a:hover {
    color: var(--color-accent-fg);
    outline-width: 0;
}

.markdown-body-modal a:hover {
    text-decoration: underline;
}
