@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

.App {
  display: grid;
  grid-template-areas:
    'logo       top-bar'
    'side-bar   content';
  grid-template-columns: 8% 92%;
  grid-template-rows: 8% 92%;
  height: 100vh;
  width: 100vw;

  #top-bar {
    grid-area: top-bar;
    display: flex;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
  }

  #side-bar {
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
  }

  #main-content {
    margin: 1rem;
    grid-area: content;
  }

  #fbw-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;

    #fbw-logo {
      grid-area: logo;
      height: 1.5rem;
    }
  }

  p {
    margin: 0;
  }
}
