@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;800;900&family=Manrope:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import './fbw.scss';

* {
  @apply font-inter;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

body {
  margin: 0;
  @apply font-inter;
  /*letter-spacing: 0.7px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-navy-lightest;
}

div {
  @apply font-inter;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  @apply font-manrope pb-4;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 25.5px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  @apply mb-4;

  font-size: 15px;
}

a {
  color: #bbb;
  text-decoration: underline;
}

button:focus {
  outline: none;
}

input {
    @apply text-white bg-navy-light rounded-md py-1 px-1.5 focus:outline-none border border-transparent transition duration-100 focus:border-cyan font-inter;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  box-sizing: content-box;
  overflow: hidden;
  height: .15em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-utility-grey-blue);
  border: 0;
}
