name: vmaster
on:
  push:
    branches: [master]

jobs:
  build:
    # Prevent running this on forks
    if: github.repository_owner == 'flybywiresim'
    runs-on: ubuntu-22.04
    env:
      MASTER_PRE_RELEASE_ID: 36189658
      MASTER_PRE_RELEASE_TAG: vmaster
      PACKAGE_NAME: FlyByWire-Installer
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Create .sentrydsn file
        run: |
          echo ${{ secrets.SENTRY_DSN_INSTALLER }} >> ./extraResources/.sentrydsn
      - name: Set BUILT_DATE_TIME
        run: echo "BUILT_DATE_TIME=$(date -u -Iseconds)" >> $GITHUB_ENV
      - name: Install NPM dependencies
        run: npm ci

      - name: Install system requirements
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y --allow-downgrades libc6:i386 libgcc-s1:i386 libstdc++6:i386
          sudo apt-get install -y wine32 wine64
          sudo apt-get install -y flatpak
          sudo apt-get install -y flatpak-builder
          sudo apt-get install -y rclone
      - name: Add Flathub Flatpak remote
        run: flatpak --user remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      - name: Package installer
        run: |
          npm run package:all
          mkdir -p upload/github/
          mkdir -p upload/cdn/
          cp ./dist/latest-linux.yml ./upload/github/
          cp ./dist/latest-linux.yml ./upload/cdn/
          for file in ./dist/$PACKAGE_NAME-*-*.*; do
            [ -e "$file" ] || continue
            # Extract extension
            ext="${file##*.}"
            # Skip .blockmap files
            if [ "$ext" = "blockmap" ]; then
              continue
            fi
            # Extract arch (the part after the last '-' and before the extension)
            arch=$(basename "$file" | sed -E 's/.*-([^-]+)\.'"$ext"'$/\1/')
            # Compose new filename
            staticname="$PACKAGE_NAME-$arch.$ext"
            cp "$file" "./upload/github/$staticname"
            cp "$file" "./upload/cdn/$staticname"
          done
      - name: Configure rclone for Cloudflare R2
        run: |
            mkdir -p ~/.config/rclone
            cat > ~/.config/rclone/rclone.conf <<EOF
            [cloudflare-r2]
            type = s3
            provider = Cloudflare
            env_auth = false
            access_key_id = ${{ secrets.CLOUDFLARE_R2_ACCESS_KEY_ID }}
            secret_access_key = ${{ secrets.CLOUDFLARE_R2_SECRET_ACCESS_KEY }}
            endpoint = ${{ secrets.CLOUDFLARE_R2_ENDPOINT }}
            region = auto
            EOF

      - name: Upload to CloudFlare CDN (dev)
        env:
          CLOUDFLARE_CDN_ZONE_ID: ${{ secrets.CLOUDFLARE_CDN_ZONE_ID }}
          CLOUDFLARE_PURGE_TOKEN: ${{ secrets.CLOUDFLARE_PURGE_TOKEN }}
        run: ./scripts/cdn-cf.sh upload/cdn/ installer/dev

      - name: Delete previous assets from master pre-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo 'Fetching all release assets...'
          assets=$(curl --location --request GET \
            --url https://api.github.com/repos/${{ github.repository }}/releases/${{ env.MASTER_PRE_RELEASE_ID }}/assets \
            --header "authorization: Bearer $GITHUB_TOKEN")
          asset_ids=$(echo "$assets" | jq '.[].id')
          for id in $asset_ids; do
            echo "Deleting asset $id"
            curl --request DELETE \
              --url https://api.github.com/repos/${{ github.repository }}/releases/assets/$id \
              --header "authorization: Bearer $GITHUB_TOKEN"
          done
      - name: Upload binaries to GitHub pre-release assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for file in upload/github/*; do
            [ -e "$file" ] || continue
            name=$(basename "$file")
            echo "Uploading $name"
            curl --request POST \
              --url "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.MASTER_PRE_RELEASE_ID }}/assets?name=$name" \
              --header "authorization: Bearer $GITHUB_TOKEN" \
              --header "Content-Type: application/octet-stream" \
              --data-binary @"$file"
          done
      - name: Update master pre-release body
        run: |
          curl --request PATCH \
            --url 'https://api.github.com/repos/${{ github.repository }}/releases/${{ env.MASTER_PRE_RELEASE_ID }}' \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --header 'Content-Type: application/json' \
            --data-raw '{
              "body": "This pre-release has its assets updated on every commit to the master branch\nDo not use the source code assets, they are never updated\nLast updated on ${{ env.BUILT_DATE_TIME }} from commit ${{ github.sha }}\n\nThis link will always point to the latest Windows master build: https://github.com/${{ github.repository }}/releases/download/${{ env.MASTER_PRE_RELEASE_TAG }}/${{ env.PACKAGE_NAME }}-x64.exe"
            }'
