name: PR
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.9'
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: install dependencies
        run: npm ci
      - name: lint
        run: npm run lint
      - name: build
        run: npm run package
      - name: upload PR artifact
      - uses: actions/upload-artifact@v3
        with:
          name: FlyByWire_Installer_Setup
          path: ./dist/FlyByWire_Installer_Setup.exe
