name: Release Candidate
on:
  push:
    tags:
      - 'v*-rc*'

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-22.04
    env:
      PACKAGE_NAME: FlyByWire-Installer
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Create .sentrydsn file
        run: |
          echo ${{ secrets.SENTRY_DSN_INSTALLER }} >> ./extraResources/.sentrydsn

      - name: Install NPM dependencies
        run: npm ci

      - name: Install system requirements
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y --allow-downgrades libc6:i386 libgcc-s1:i386 libstdc++6:i386
          sudo apt-get install -y wine32 wine64
          sudo apt-get install -y flatpak
          sudo apt-get install -y flatpak-builder
      - name: Add Flathub Flatpak remote
        run: flatpak --user remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

      - name: Package installer
        run: |
          npm run package:all
          mkdir -p upload/github/
          mkdir -p upload/cdn/
          for file in ./dist/$PACKAGE_NAME-*-*.*; do
            [ -e "$file" ] || continue
            # Extract extension
            ext="${file##*.}"
            # Extract arch (the part after the last '-' and before the extension)
            arch=$(basename "$file" | sed -E 's/.*-([^-]+)\.'"$ext"'$/\1/')
            # Compose new filename
            staticname="$PACKAGE_NAME-$arch.$ext"
            cp "$file" "./upload/github/"
            cp "$file" "./upload/cdn/$staticname"
          done

      - name: Upload to Bunny CDN
        env:
          BUNNY_BUCKET_PASSWORD: ${{ secrets.BUNNY_BUCKET_PASSWORD }}
          BUNNY_SECRET_TOKEN: ${{ secrets.BUNNY_SECRET_TOKEN }}
        run: ./scripts/cdn.sh upload/cdn/ installer/rc

      - name: Upload to CloudFlare CDN
        env:
          CLOUDFLARE_BUCKET_PASSWORD: ${{ secrets.CLOUDFLARE_BUCKET_PASSWORD }}
          CLOUDFLARE_CDN_ZONE_ID: ${{ secrets.CLOUDFLARE_CDN_ZONE_ID }}
          CLOUDFLARE_PURGE_TOKEN: ${{ secrets.CLOUDFLARE_PURGE_TOKEN }}
        run: ./scripts/cdn-cf.sh upload/cdn/ installer/rc

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: true

      - name: Upload all release assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for file in upload/github/*; do
            [ -e "$file" ] || continue
            name=$(basename "$file")
            echo "Uploading $name as $url_name"
            curl --request POST \
              --url "${{ steps.create_release.outputs.upload_url }}?name=$name" \
              --header "authorization: Bearer $GITHUB_TOKEN" \
              --header "Content-Type: application/octet-stream" \
              --data-binary @"$file"
          done
