name: Release
on:
  push:
    tags:
      - 'v*'
      - '!v*-rc*'
      - '!v*-dev*'

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-22.04
    env:
      ASSET_PATH: dist/FlyByWire_Installer_Setup.exe
      ASSET_DIRECTORY: dist/
      ASSET_NAME: FlyByWire_Installer_Setup.exe
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Create .sentrydsn file
        run: |
          echo ${{ secrets.SENTRY_DSN_INSTALLER }} >> ./extraResources/.sentrydsn

      - name: Install NPM dependencies
        run: npm ci

      - name: Install system requirements
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y --allow-downgrades libc6:i386 libgcc-s1:i386 libstdc++6:i386
          sudo apt-get install -y wine32 wine64
          sudo apt-get install -y rclone

      - name: Package installer
        run: |
          npm run package && rm -rf ./dist/win-unpacked/

      - name: Configure rclone for Cloudflare R2
        run: |
            mkdir -p ~/.config/rclone
            cat > ~/.config/rclone/rclone.conf <<EOF
            [cloudflare-r2]
            type = s3
            provider = Cloudflare
            env_auth = false
            access_key_id = ${{ secrets.CLOUDFLARE_R2_ACCESS_KEY_ID }}
            secret_access_key = ${{ secrets.CLOUDFLARE_R2_SECRET_ACCESS_KEY }}
            endpoint = ${{ secrets.CLOUDFLARE_R2_ENDPOINT }}
            region = auto
            EOF

      - name: Upload to CloudFlare CDN
        env:
          CLOUDFLARE_CDN_ZONE_ID: ${{ secrets.CLOUDFLARE_CDN_ZONE_ID }}
          CLOUDFLARE_PURGE_TOKEN: ${{ secrets.CLOUDFLARE_PURGE_TOKEN }}
        run: ./scripts/cdn-cf.sh dist/ installer/release && ./scripts/cdn-cf.sh dist/ installer/rc

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ env.ASSET_PATH }}
          asset_name: ${{ env.ASSET_NAME }}
          asset_content_type: application/x-msdos-program
